<div class="post">
  <div class="videoInfo">
    <video>
      <source src="/{{video}}" type="video/mp4" />
    </video>
    <h2 class="video-title">{{title}}</h2>
    <p class="video-time">{{formatDateString createdAt}}</p>
    <p class="video-description">{{description}}</p>
  </div>
  
</div>