<html>
  <head>
    <title>{{title}}</title>
    <link
      rel="icon"
      href="/public/favicon.ico"
      sizes="70x70"
      type="image/ico"
    />

  </head>
  <body>
    
    {{{body}}}

  </body>
</html>