<html class="signUp" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Righteous&display=swap"
      rel="stylesheet"
    />
    <script defer src="../public/js/signUp.js"></script>
  </head>
  <body class="signUp">
    <header>
      <h1>Sign Up user</h1>
      {{#if (nonEmptyObject messages)}}
        <div id="flashMess">
          {{#if messages.error}}
            <div class="alert-danger">{{messages.error}}</div>
          {{!-- {{else}}
            <div class="alert-success">{{messages.success}}</div> --}}
          {{/if}}
        </div>
      {{/if}}
      <div class="dropdown">
        <button class="dropbtn">
          <img src="../public/images/menuH.png" alt="menu" class="menImg" />
          <i class="caret-down"></i>
        </button>
        <div class="dropContent">
          <nav>
            <ul>
              <li>
                <a href="/" class="a1">Main Page</a>
              </li>
              <li>
                <a href="/login" class="a2">Login</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div class="menButton">
        <input type="checkbox" id="active" />
        <label for="active" class="menu-btn"><span></span></label>
        <label for="active" class="close"></label>
        <div class="wrapper">
          <nav>
            <ul>
              <li>
                <a href="/" class="a1">Main Page</a>
              </li>
              <li>
                <a href="/login" class="a2">Login</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="info">
        <form
          action="/users/SignUp"
          id="fm"
          method="post"
          enctype="application/x-www-form-urlencoded"
        >
          <div class="userData">
            <label for="username">Username:</label>
            <div class="block">
              <input type="text" name="username" id="username" required />
              <div class="usCheck">
                <p id="usCheck1">Minimum 3 characters.<br /></p>
                <p id="usCheck2">Begins with a letter.</p>
              </div>
            </div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required />
            <label for="password">Password:</label>
            <div class="block">
              <input type="password" name="password" id="password" required />
              <div class="passCheck">
                <p id="passCheck1">Minimum 8 characters.<br /></p>
                <p id="passCheck2">At least one special character.</p>
              </div>
            </div>
            <label for="password2">Confirm password:</label>
            <div class="block">
              <input
                type="password"
                name="confirmPassword"
                id="password2"
                required
              />
              <div class="confCheck">
                <p id="confCheck1">Passwords need to match.<br /></p>
              </div>
            </div>
          </div>

          <div class="checks">
            <label for="check">Acknowledge I am 13+ years old.</label>
            <input type="checkbox" name="check" id="check" required />
          </div>

          <div class="checks">
            <label for="check2">Accept TOS and Privacy rules.</label>
            <input type="checkbox" name="check2" id="check2" required />
          </div>

          <a href="#" class="TOS">Read TOS and Privacy rules</a>

          <div class="sub">
            <input type="submit" name="submit" id="submit" />
          </div>
        </form>
      </div>
    </main>
    <footer>
      <h3>Leonardo Meza Martinez © 2023 CS SFSU</h3>
    </footer>
  </body>
</html>