<html class="profile" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Righteous&display=swap"
      rel="stylesheet"
    />
    <script defer src="../public/js/alert.js"></script>
  </head>
  <body class="profile">
    <header>
      <h1>Profile</h1>
      {{#if isLoggedIn}}
        <div class="alert-success">Successfully logged in!</div>
      {{/if}}
      <div class="dropdown">
        <button class="dropbtn">
          <img src="../public/images/menuH.png" alt="menu" class="menImg" />
          <i class="caret-down"></i>
        </button>
        <div class="dropContent">
          <nav>
            <ul>
              <li>
                <a href="/" class="a1">Main Page</a>
              </li>
              <li>
                <a href="/postVideo" class="a2">Post a video</a>
              </li>
              <li>
                <a href="/viewPost" class="a3">View post</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <form action="/users/logout" method="post" class="logO">
      <button type="submit">Log Out</button>
    </form>
    <main>
      <div class="menButton">
        <input type="checkbox" id="active" />
        <label for="active" class="menu-btn"><span></span></label>
        <label for="active" class="close"></label>
        <div class="wrapper">
          <nav>
            <ul>
              <li>
                <a href="/" class="a1">Main Page</a>
              </li>
              <li>
                <a href="/postVideo" class="a2">Post a video</a>
              </li>
              <li>
                <a href="/viewPost" class="a3">View post</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="profInfo">
        <div>
          <h2>{{user.username}}</h2>
          <h3>{{user.email}}</h3>
          <h4>Posts created:</h4>
        </div>
        <ol>
          <li>
            <img src="../public/images/yt.png" alt="yt" />
          </li>
          <li>
            <img src="../public/images/yt.png" alt="yt" />
          </li>
          <li>
            <img src="../public/images/yt.png" alt="yt" />
          </li>
          <li>
            <img src="../public/images/yt.png" alt="yt" />
          </li>
        </ol>
      </div>
    </main>
    <footer>
      <h3>Leonardo Meza Martinez © 2023 CS SFSU</h3>
    </footer>
  </body>
</html>