<html lang="en" class="vp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View post</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Righteous&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="viewPost">
    <header>
      <h1>View a post</h1>
      <div class="dropdown">
        <button class="dropbtn">
          <img src="../public/images/menuH.png" alt="menu" class="menImg" />
          <i class="caret-down"></i>
        </button>
        <div class="dropContent">
          <nav>
            <ul>
              <li>
                <a href="/" class="a1">Main Page</a>
              </li>
              <li>
                <a href="/postVideo" class="a2">Post a video</a>
              </li>
              <li>
                <a href="/profile" class="a3">Profile</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <form action="/users/logout" method="post" class="logO">
      <button type="submit">Log Out</button>
    </form>
    <main>
      <div class="menButton">
        <input type="checkbox" id="active" />
        <label for="active" class="menu-btn"><span></span></label>
        <label for="active" class="close"></label>
        <div class="wrapper">
          <nav>
            <ul>
              <li>
                <a href="/" class="a1">Main Page</a>
              </li>
              <li>
                <a href="/postVideo" class="a2">Post a video</a>
              </li>
              <li>
                <a href="/profile" class="a3">Profile</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="main_block">
        <div>
          <h2>-Post title-</h2>
          <h3>-Post author-</h3>
          <h4>-Post creation time-</h4>
        </div>
        <img src="../public/images/yt.png" alt="Video" />
        <h4>Comments:</h4>
        <ol>
          <li>
            <a href="#">---</a>
          </li>
          <li>
            <a href="#">---</a>
          </li>
          <li>
            <a href="#">---</a>
          </li>
          <li>
            <a href="#">---</a>
          </li>
        </ol>
      </div>
    </main>
    <footer>
      <h3>Leonardo Meza Martinez © 2023 CS SFSU</h3>
    </footer>
  </body>
</html>