<!DOCTYPE html>
<html class="video" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post a video</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/application/public/css/style.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Righteous&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="postVideo">
    <header>
      <h1>Post a video</h1>
      <div class="dropdown">
        <button class="dropbtn">
          <img src="/application/images/menuH.png" alt="menu" class="menImg" />
          <i class="caret-down"></i>
        </button>
        <div class="dropContent">
          <a href="/application/public/html/index.html">Main Page</a>
          <a href="/application/public/html/login.html">Login</a>
          <a href="/application/public/html/signUp.html">Sign up</a>
          <a href="/application/public/html/viewPost.html">View post</a>
          <a href="/application/public/html/profile.html">Profile</a>
        </div>
      </div>
    </header>
    <main>
      <div class="menButton">
        <input type="checkbox" id="active" />
        <label for="active" class="menu-btn"><span></span></label>
        <label for="active" class="close"></label>
        <div class="wrapper">
          <ul>
            <li>
              <a href="/application/public/html/index.html" class="a1"
                >Main Page</a
              >
            </li>
            <li>
              <a href="/application/public/html/login.html" class="a2">Login</a>
            </li>
            <li>
              <a href="/application/public/html/signUp.html" class="a3"
                >Sign up</a
              >
            </li>
            <li>
              <a href="/application/public/html/viewPost.html" class="a4"
                >View post</a
              >
            </li>
            <li>
              <a href="/application/public/html/profile.html" class="a5"
                >Profile</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="postInfo">
        <form action="#">
          <div class="title">
            <div>
              <label for="title">Post title:</label>
            </div>
            <div>
              <input type="text" name="title" id="title" />
            </div>
          </div>
        </form>
        <form action="#">
          <div class="descrip">
            <div>
              <label for="description">Description:</label>
            </div>
            <div>
              <textarea
                name="description"
                id="description"
                cols="28"
                rows="3"
              ></textarea>
            </div>
          </div>
        </form>
        <div>
          <form action="#">
            <div class="file">
              <div>
                <label for="file">Select your video:</label>
              </div>
              <div>
                <input type="file" name="file" id="file" />
              </div>
            </div>
          </form>
          <h2>(Only video formats supported by the HTML5 player)</h2>
        </div>
        <div class="checkB">
          <form action="#">
            <div class="policy">
              <label for="check"
                >Accept Acceptable Use Policy for uploading videos:</label
              >
              <input type="checkbox" name="check" id="check" />
            </div>
          </form>
        </div>
        <div class="post">
          <form action="#">
            <button>-----Post-----</button>
          </form>
        </div>
      </div>
    </main>
    <footer>
      <h3>Leonardo Meza Martinez © 2023 CS SFSU</h3>
    </footer>
  </body>
</html>
